html, body {
  height: 100%;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #02182c;
  
}
.upper-row{
  display: grid;
  margin:100px 200px 10px 200px;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 200px ;
  grid-gap: 10px;
}

.lower-row {
  display: grid;
 margin:10px 200px 100px 200px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 200px ;
  grid-gap: 10px;
}


.itema {

 background: #f22b07; 
  
}

.itemb {
   background: #f2a807;

}

.itemc {
  background: #28701f;
 grid-row: 1/3;   

}

.itemd {
   background: #3ba9ce;
  
}

.iteme {
   background: #3ba9ce;
  
}


